@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<!--
Beyond Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3
Version: 1.3
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>Error 500</title>

    <meta name="description" content="Error 500" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="@Url.Content("~/assets/Assets/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/Assets/css/bootstrap-rtl.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/assets/Assets/css/font-awesome.min.css")" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link href="@Url.Content("~/assets/Assets/css/beyond-rtl.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/Assets/css/demo.min.css")" rel="stylesheet" />   
    <link href="@Url.Content("~/assets/Assets/css/animate.min.css")" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    <style>
        @@font-face {
            font-family: 'WYekan';
            src: url('@Url.Content("~/assets/Assets/fonts/BYekan.woff")') format('woff');
            font-weight: normal;
                        font-style: normal;
                    }
    </style>
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="assets/js/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body class="body-500">
    <div class="error-header"> </div>
    <div class="container ">
        <section class="error-container text-center">
            <h1>@ViewData["ErrorNumber"]</h1>
            <div class="error-divider">
                <p class="description" style="font-family:WYekan;line-height:1.2;">
                    @ViewData["ErrorMessage"]
                </p>
            </div>
            <a href="/" class="return-btn" style="margin-top:10px;"><i class="fa fa-home"></i>ورود به صفحه اصلی سایت</a>
        </section>
    </div>
    
</body>
<!--Body Ends-->
</html>
