<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="سیپارس" />
    <meta name="keywords" content="سانا پارسینا,خدمات آنلاین,سی پارس,خدمات,sipars,sipars.ir,آموزش,آموزش آنلاین" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    @*<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">*@
    <link rel="icon" type="image/x-icon" href="~/assets/New/img/favicon.ico" />

    <!--  old layout -->

    <link href="@Url.Content("~/assets/Assets/css/Datatable/datatables.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/Assets/css/Datatable/dataTables.foundation.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/Assets/css/Datatable/dataTables.jqueryui.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/Assets/js/jquery.dataTables.min.js")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/Assets/css/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/Assets/css/Datatable/datatables.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/Assets/css/Datatable/dataTables.bootstrap-rtl.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <!-- Animate.css -->
    <link rel="stylesheet" href="@Url.Content("~/assets/New/css/animate.css")">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="@Url.Content("~/assets/New/css/icomoon.css")">
    <!-- Bootstrap  -->
    <link href="@Url.Content("~/assets/Assets/css/bootstrap.min.css")" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <link href="@Url.Content("~/assets/Assets/css/bootstrap-rtl.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/Assets/css/font-awesome.min.css")" rel="stylesheet" />

    @*<link rel="stylesheet" href="@Url.Content("~/assets/New/css/bootstrap.css")">*@
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="@Url.Content("~/assets/New/css/magnific-popup.css")">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="@Url.Content("~/assets/New/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/New/css/owl.theme.default.min.css")">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="@Url.Content("~/assets/New/css/flexslider.css")">
    <!--   mega menu -->
    @*<link href="@Url.Content("~/assets/Assets/mega-dropdown/css/reset.css")" rel="stylesheet" />
        <link href="@Url.Content("~/assets/Assets/mega-dropdown/css/style.css")" rel="stylesheet" />*@

    <!-- Theme style  -->

    <link rel="stylesheet" href="@Url.Content("~/assets/New/css/style.css")">
    <!-- Modernizr JS -->
    <script src="@Url.Content("~/assets/New/js/modernizr-2.6.2.min.js")"></script>

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="fh5co-loader"></div>

    <div id="page">

        <nav class="fh5co-nav" role="navigation">
            <div class="top-menu">
                @*<div class="row CalssOfHeader">
                    <div class="col-xs-1 ClassOfBorderLeft">&nbsp;</div>
                    <div class="col-xs-1 ClassOfBorderLeft">شهرها <i class="icon-location-pin"></i></div>
                    <div class="col-xs-9 text-left">شماره تماس : 38472922-051</div>
                    <div class="col-xs-1">&nbsp;</div>
                </div>*@
                <div class="container">

                    @*<div class="row Classlogo">
                        <div class="col-xs-1 ">
                            <div id="fh5co-logo">
                                <a href="/">
                                    <img src="~/assets/New/img/Logo.png" style="width:80px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-7" id="TextForLogo">
                            خدمات آنلاین سی پارس
                        </div>
                        <div class="col-xs-4 text-left SearchBox">
                            <div class="input-group">
                                <input type="text" class="form-control NewClassSearch NewClassFontsize" id="inlineFormInputGroup" placeholder="کلمه موردنظر را وارد کنید... ">
                                <div class="input-group-addon NewClassSearch NewClassColorYellow NewClassFontsize">
                                    <span class="icon" style="color:#fff;"><i class="icon-search"></i>  جستجو </span>
                                </div>
                            </div>
                        </div>
                    </div>*@

                    <div class="row ClasslogoMobile">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-8 text-right" style="padding-top:10px;font-weight:bold;">
                            خدمات آنلاین سی پارس
                        </div>
                        <div class="col-xs-2">
                            <a href="/">
                                <img src="~/assets/New/img/LogoC.png" style="width:50px;" />
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-8 text-right menu-1">
                            <ul style="direction:rtl !important;" class="menuBar">
                                <li class="active"><a href="/">صفحه اصلی</a></li>
                                <li><a href="/privateTraining/">سفارش خدمت</a></li>
                                <li><a href="/Account/GetAddEditServiceProvider">ثبت نام خدمتیار</a></li>
                                <li><a href="/Home/Rule">قوانین و مقررات</a></li>
                                <li><a href="/Home/About">درباره ما</a></li>
                                <li><a href="/Home/Contact">تماس با ما</a></li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/Account/Login">ورود به سایت</a></li>
                                }
                            </ul>
                        </div>
                        <div class="col-xs-4 text-left Classlogo"  >
                            <span style="font-weight:bold;color:#9665c4;"> خدمات آنلاین سی پارس</span>
                            <a href="/" style="padding:0px;">
                                <img src="~/assets/New/img/LogoC.png" style="width:50px;    margin-top: 6px !important;" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

@*         <div class="ServiceMenusMainPage"> *@
@*             <div class="container"> *@
@*                 <div class="row"> *@
@*                     <ul class="ServicesMenu root " style="background:aliceblue"> *@
@*                         @{ *@
@*                             Html.RenderAction("ListServiceMenus", "PrivateTraining", new { area = "" }); *@
@*                         } *@
@*                     </ul> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@

        <div class="page-body" ng-controller="MainCtrl">
            @RenderBody()
        </div>

        <footer id="fh5co-footer" role="contentinfo">
            <div id="Class1OfFooter">
                <div class="container">
                    <div class="row row-pb-md">
                        <div class="col-md-5 fh5co-widget NewClassOfFooter Classlogo">

                            <p class="col-md-11">
                                هدف از تاسیس شرکت و راه اندازی این سامانه دسترسی آسان خدمت گیرندگان به خدمات مورد نیاز و ارائه آن با کیفیت مطلوب همراه با نظارت و پاسخگویی فراگیر می باشد.
                            </p>
                            <span class="col-md-1"></span>
                            <div class="col-md-12">
                                <a href="https://t.me/siparsir" class="social2b" target="_blank">
                                    <img src="@Url.Content("~/assets/New/img/icon-telegram.png")" alt="تلگرام" title="تلگرام" />
                                    <span>ورود به تلگرام</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 NewClassOfFooter Classlogo">
                            <h4>منوی سایت</h4>
                            <ul class="fh5co-footer-links">
                                <li><a href="/">صفحه اصلی</a></li>
                                <li><a href="/privateTraining/">ثبت درخواست خدمت</a></li>
                                <li><a href="/Account/GetAddEditServiceProvider">ثبت خدمتیار</a></li>
                                <li><a href="/Home/About">درباره ما</a></li>
                                <li><a href="/Home/Contact">تماس با ما</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 NewClassOfFooter">
                            <div class="ClasslogoMobile" >
                                <a href="https://t.me/siparsir" class="social2b" target="_blank">
                                    <img src="@Url.Content("~/assets/New/img/icon-telegram.png")" alt="تلگرام" title="تلگرام" />
                                    <span>ورود به تلگرام</span>
                                </a>
                                <br /><br />
                            </div>
                            <h4>تماس با ما</h4>
                            <ul class="fh5co-footer-links">
                                <li> <span>آدرس : کلاهدوز 22 پلاک 25 واحد3</span></li>
                                <li><span>تلفن : 38472922-051</span></li>
                                <li><span>همراه : 09153329002</span></li>
                                <li><span> ایمیل : <a href="mailto:info@sipars.ir">info@sipars.ir</a> </span> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div id="Class2OfFooter">
                <div class="col-md-1"></div>
                <div class="col-md-5 text-right">تمامی حقوق برای <a href="http://sipars.ir/"> <span class="spanOfFooter"> سی پارس </span></a> محفوظ است. </div>
                <div class="col-md-5 text-left">طراحی سایت توسط <a href="http://mega-tech.ir/"><span> مگاتک </span></a> و <a href="https://aliens.ir/resume"><span> Aliens </span></a></div>
                <div class="col-md-1"></div>
            </div>
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="@Url.Content("~/assets/New/js/jquery.min.js")"></script>

    <!-- jQuery Easing -->
    <script src="@Url.Content("~/assets/New/js/jquery.easing.1.3.js")"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/assets/New/js/bootstrap.min.js")"></script>

    <!-- Waypoints -->
    <script src="@Url.Content("~/assets/New/js/jquery.waypoints.min.js")"></script>
    <!-- Stellar Parallax -->
    <script src="@Url.Content("~/assets/New/js/jquery.stellar.min.js")"></script>
    <!-- Carousel -->
    <script src="@Url.Content("~/assets/New/js/owl.carousel.min.js")"></script>
    <!-- Flexslider -->
    <script src="@Url.Content("~/assets/New/js/jquery.flexslider-min.js")"></script>
    <!-- countTo -->
    <script src="@Url.Content("~/assets/New/js/jquery.countTo.js")"></script>
    <!-- Magnific Popup -->
    <script src="@Url.Content("~/assets/New/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/assets/New/js/magnific-popup-options.js")"></script>
    <!-- Main -->
    <script src="@Url.Content("~/assets/New/js/main.js")"></script>
    <!-- old layout -->
    <script src="@Url.Content("~/assets/Assets/js/angular/angular.js")"></script>
    <script src="@Url.Content("~/assets/Assets/js/angular/angular-route/angular-route.js")"></script>
    <script src="@Url.Content("~/assets/Assets/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/assets/Assets/js/datatable/angular-datatables.min.js")"></script>
    <script src="@Url.Content("~/assets/Assets/js/datatable/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/Assets/js/Customjs.js")"></script>
    <script src="@Url.Content("~/assets/Assets/js/select2/select2.min.js")"></script>

    <script src="@Url.Content("~/assets/Assets/js/fuelux/wizard/wizard-custom.js")"></script>

    <script src="@Url.Content("~/assets/Assets/js/slimscroll/jquery.slimscroll.min.js")"></script>
    @* بعد ازلود اسکرول صفحه خراب میشه<script src="@Url.Content("~/assets/Assets/js/beyond.min.js")"></script>*@
    <script src="@Url.Content("~/assets/Assets/js/toastr/toastr.js")"></script>

    <script type="text/javascript"> var containerCalender = "";</script>
    <script src="@Url.Content("~/assets/Assets/js/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js")"></script>
    <script src="@Url.Content("~/assets/Assets/js/MdBootstrapPersianDateTimePicker/jalaali.js")"></script>
    @*<script src="@Url.Content("~/assets/Assets/js/fuelux/treeview/tree-custom.min.js")"></script>*@
    <script src="@Url.Content("~/assets/Assets/js/datetime/bootstrap-timepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/Assets/js/angular/angular-sanitize/angular-sanitize.js")"></script>
    <!--   mega menu -->
    <script src="@Url.Content("~/assets/Assets/mega-dropdown/js/jquery.menu-aim.js")"></script>
    <script src="@Url.Content("~/assets/Assets/mega-dropdown/js/main.js")"></script>
    <script src="@Url.Content("~/assets/Assets/mega-dropdown/js/modernizr.js")"></script>
    <!-- Google Map -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>*@


    <!--https://www.jqueryscript.net/time-clock/jQuery-Persian-Date-Picker-Plugin-Pwt-Datepicker.html-->


</body>
</html>

<script type="text/javascript">

    var app = angular.module('App', ['datatables']);
    app.config(['$httpProvider', function ($httpProvider) {
        $httpProvider.defaults.headers.common["X-Requested-With"] = 'XMLHttpRequest';
    }]);

    if ($(".badge").html() != "0") {
        $(".badge").parent().addClass("wave in");
    }
</script>

<link href="/assets/Alien/alien.css" rel="stylesheet">
<script src="/assets/Alien/alien.js"></script>

<link href="/assets/Alien/datapicker/persian-datepicker.min.css" rel="stylesheet">
<script src="/assets/Alien/datapicker/persian-date.min.js"></script>
<script src="/assets/Alien/datapicker/persian-datepicker.min.js"></script>
<link href="/assets/Alien/datepicker.css" rel="stylesheet">


@RenderSection("Scripts", false)

