@model PrivateTraining.DomainClasses.Entities.Security.ServiceProviderInfo

@{
ViewBag.Title = "انتخاب خدمت";
}
<link href="@Url.Content(" ~/assets/Assets/css/beyond-rtl.min.css")" rel="stylesheet" />
<link href="@Url.Content(" ~/assets/Assets/css/font-awesome.min.css")" rel="stylesheet" />

<style>

    .btnDesc {
        display: none;
    }

    span[class^="NotExit_"] {
        color: #a94442;
        padding: 0px 5px;
    }

    .has-error {
        color: #a94442;
    }

    .ColorOfStar {
        color: #a94442;
        font-size: 20px;
    }

    .tree.tree-plus-minus .tree-folder-header .fa-folder-open:before {
        width: 24px !important;
    }

    .tree.tree-plus-minus .tree-folder-header .fa-folder:before {
        width: 24px !important;
    }

    .tree .tree-folder .tree-folder-header {
        margin-right: -10px !important;
        line-height: 17px !important;
    }

    /*input[type="text"], input[type="password"], select.form-control, .input-group {*/
    input[type="text"], input[type="password"], select.form-control {
        width: 230px;
    }

    .col-lg-2 > label {
        float: right;
        width: 174px;
    }

    .tree-actions2 .btn {
        margin-top: 3px;
        font-size: 11px;
    }

    .checkbox label {
        /*width: 120px;*/
        float: right;
        margin-bottom: 3px;
        min-width: 150px;
    }

    .tree-folder-name .checkbox lable {
        white-space: nowrap;
    }

    .tree .tree-actions2 {
        display: none;
        position: relative;
        bottom: 4px;
    }

    /*.tree .tree-folder .tree-folder-header:hover {
        background: none !important;
    }*/

    #listservicechildren > div {
        float: right;
    }

    .btn-20.icon-only {
        width: 20px;
        height: 20px;
    }

    .btn-20.icon-only > i {
        font-size: 14px !important;
        bottom: 7px;
        z-index: 1000;
        position: relative;
    }

    .tree-folder-name > .checkbox {
        margin: 0px;
        padding-right: 16px;
    }

    .tree.tree-plus-minus .tree-folder-header .fa-folder-open:before {
        background-position: 1% -22px !important;
    }

    .btnDesc {
        display: none !important;
    }

    /*.modal-dialog {
        width: 90% !important;
    }*/
</style>

<div class="container" style="margin-top:30px;" id="LoadForm">

    <div class="alert alert-success" style="font-weight:bold;color: #386f21;">
        جهت مشاهده دسته بندی خدمات، اطلاع از تعرفه ها، مشاهده لیست و مشخصات خدمتیاران؛ لطفا استان، شهر و محل (شهرهای
        بزرگ) را انتخاب فرمایید.
    </div>

    <div class="widget" style="box-shadow: 1px 1px 1px #aaa;">
        <div class="widget-header bordered-bottom bordered-purple">
            <span class="widget-caption">سفارش خدمت</span>
        </div>
        <div class="widget-body" style="background-color: #f3f0f0 !important;">
            <div class="row">
                <form name="approveform">
                    <div class="">
                        <div class="panel-body">

                            <div class="row PaddingBottom">
                                @*نمایش استان ها - فعلا غیر فعال*@
                                <div style="display: none" class="col ">
                                    <div class="col-sm-1 ">
                                        استان
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="Approve.StateId"
                                                ng-change="City(0)" name="StateId" required>
                                            <option value="">لطفا استان خود را انتخاب نمایید</option>
                                            <option ng-repeat="x in ListStates"
                                                    ng-selected="x.Id==Approve.StateId" value="{{x.Id}}">
                                                {{x.Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <span ng-show="approveform.StateId.$invalid && submitted"
                                          class="help-block has-error">لطفا استان موردنظر خود را انتخاب نمایید</span>
                                </div>
                                @*نمایش لیست شهر ها*@
                                <div class="col ">
                                    <div class="col-sm-1 ">
                                        شهر
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<input ng-init="initLocation(this)"-->
                                        <!--typeahead-on-select="Approve.CityId = Approve.City.Id; Location(0)"-->
                                        <!--typeahead-on-change="Approve.CityId = Approve.City.Id; Location(0)"-->
                                        <!--type="text" class="form-control autocomplete" ng-model="Approve.City"-->
                                        <!--minlength="0"-->
                                        <!--ng-trim="false"-->
                                        <!--typeahead-min-length="0"-->
                                        <!--typeahead-focus-first="false"-->
                                        <!--typeahead="city as city.Name for city in Cities | filter:$viewValue||''">-->

                                        <select ng-init="initLocation(this);"
                                                class="form-control" ng-model="Approve.CityId"
                                                ng-change="Location(0)" name="CityId" required>
                                            <option value="">لطفا شهر خود را انتخاب نمایید.</option>
                                            <option ng-repeat="sub in Cities"
                                                    ng-selected="sub.Id==Approve.CityId" value="{{sub.Id}}">
                                                {{sub.Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <span ng-show="approveform.CityId.$invalid && submitted"
                                          class="help-block has-error">لطفا شهر موردنظر خود را انتخاب نمایید</span>
                                </div>
                                @*نمایش لیست محل ها*@
                                <div class="col ">
                                    <div class="col-sm-1 ">
                                        <label>محل</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <select ng-model="Approve.LocationId" class="form-control"
                                                ng-change="setLocations(Approve, ListStates, Cities, Locations)" name="LocationId" required>
                                            <option value="">لطفا محل خود را انتخاب نمایید</option>
                                            <option ng-repeat="location in Locations"
                                                    ng-selected="location.Id==Approve.LocationId"
                                                    value="{{location.Id}}">{{location.Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <span ng-show="approveform.LocationId.$invalid && submitted"
                                          class="help-block has-error">لطفا محل موردنظر خود را انتخاب نمایید</span>
                                </div>
                            </div>
                            @*انتخاب خدمت مورد نظر*@
                            <div class="widget row col-sm-7" ng-show="Approve.LocationId || LocationIdTemp"
                                 style="width:100%; margin-top: 32px">
                                <div class="widget-header bordered-bottom bordered-warning">
                                    <span class="widget-caption">انتخاب خدمت</span>
                                </div>
                                <div class="widget-body" style="background-color: #fff;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="alert alert-warning">
                                                خدمت را از دسته بندی زیر انتخاب نمایید.
                                                <br/>
                                                تعرفه ها و لیست خدمتیاران ظاهر می شود.
                                                <br/>
                                                در لیست خدمتیاران، رزومه و مشخصات خدمتیاران قابل مشاهده و انتخاب است.
                                            </div>


                                            <service-card>

                                            </service-card>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*
                        </div>
                        *@
                        @*اگر سفارش قبلی داشته باشد*@
                        <div class="widget row col-sm-12" ng-show="isSelProvider" ng- id="SelectService">
                            <div class="widget-header bordered-bottom bordered-success">
                                <span class="widget-caption">خدمات انتخاب شده</span>
                            </div>
                            <div class="widget-body" style="background-color: #ebf7e6;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="serviceselected" id="listservicechildren"
                                             style="line-height: 35px; display: block;"
                                             ng-repeat="x in SelectServiceProviderForService">
                                            <div class="col-md-3">
                                                <a class="btn  btn-20 shiny icon-only danger"
                                                   ng-click="DelSelectServiceProviderForService($index)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                                <span>{{x.ServiceProviderFullName}}</span>
                                            </div>
                                            <div class="col-md-8 "><span ng-bind-html="x.ParentServices"
                                                                         style="float:right"></span> <span class="unit">&nbsp; -  {{x.WorkUnitName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row PaddingBottom" ng-show="isSelProvider">
                            <div class="col-sm-12" style="text-align:left">
                                <button type="button" class="btn btn-palegreen shiny " ng-click="SendDataApproveInfo()">
                                    ادامه سفارش خدمت
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<service-provider-select-dialog>
</service-provider-select-dialog>

<buy-list-dialog>
</buy-list-dialog>

<provider-list-dialog>
</provider-list-dialog>



@Html.Partial("_CheckLogin")
@Html.Partial("_ListServiceProvider")
@Html.Partial("_SelectWorkUnit")
@Html.Partial("_ShowListPriceWorkUnit")
@Html.Partial("_ListComment")

<service-register-dialog>
</service-register-dialog>

<location-dialog>
</location-dialog>

<account-dialog>
</account-dialog>