@model PrivateTraining.Models.ForgotPasswordViewModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "رمز عبور خود را فراموش کرده اید؟";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<form name="RegisterFrom" ng-submit="register(RegisterFrom.$valid)" novalidate>
    <div class="widget-body" id="ListServices">

        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2 class="NewClassHeading" style="color:#b5b1b1 !important;text-shadow:#fff .5px .5px .5px;">فراموشی رمز عبور</h2>
            </div>
        </div>

        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 ">
                <div class="alert alert-warning">
                    جهت دریافت رمز عبور، نام کاربری و شماره همراه ثبت شده در سامانه را وارد نمایید.
                    <br />
                    نام کاربری خدمتیاران، کد ملی و نام کاربری مشتریان شماره همراه ثبت شده در سامانه است.
                    <br />
                    در صورت عدم دریافت پیامک رمز عبور، با پشتیبانی شرکت تماس بگیرید.
                </div>
            </div>
        </div>

        <div class="row PaddingBottom">
            <div class="col-md-4 col-md-offset-4">
                @Html.LabelFor(c => c.UserName) <span class="ColorOfStar">*</span>
                <div ng-class="{ 'has-error' : RegisterFrom.UserName.$invalid && submitted }">
                    <input type="text" ng-model="Register.UserName" name="UserName" class="form-control" required>
                    <p ng-show="RegisterFrom.UserName.$invalid && submitted" class="help-block">لطفا نام کاربری را وارد نمایید</p>
                </div>
            </div>
        </div>

        <div class="row PaddingBottom">
            <div class="col-md-4 col-md-offset-4">
                @Html.LabelFor(c => c.Mobile) <span class="ColorOfStar">*</span>
                <div ng-class="{ 'has-error' : RegisterFrom.Mobile.$invalid && submitted }">
                    <input type="text" ng-model="Register.Mobile" name="Mobile" class="form-control" required>
                    <p ng-show="RegisterFrom.Mobile.$invalid && submitted" class="help-block">لطفا شماره همراه خود را وارد نمایید</p>
                </div>
            </div>

        </div>

        <div class="row PaddingBottom">
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" id="btnregister" class="btn btn-success" ng-click="submitted=true">ثبت </button>
            </div>
        </div>

        <div class="row PaddingBottom">
            <div class="col-md-4 col-md-offset-4">
                <div ng-model="LinkForget" name="LinkForget"></div>
                <div id="DivOfLink"></div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        // $(".navbar").css("display", "none");
        $("#sidebar").html("");
        $("#sidebar-collapse").html("");
        $(".navbar-account").html("");
        $("#sidebar").remove();
        $(".page-content").css("width", "70%");
        angular.module('App').controller('MainCtrl', function ($rootScope, $scope, $http, $window) {

            $scope.Register = {};

            $scope.register = function (isValid) {

                if (isValid)
                {
                    $("#btnregister").prop('disabled', true);
                    waitingDialog.show('در حال ثبت اطلاعات لطفا منتظر بمانید...');
                    $http.post('@Url.Action(MVC.Account.ForgotPasswords())', $scope.Register).success(function (response) {

                        if (response.Resualt) {

                            //  $scope.LinkForget = response.Link;
                            // $("#DivOfLink").html("<a href=\"" + response.Link + "\">فعال سازی پسورد جدید</a>");
                            window.location.href = "/Account/Login";
                            $("#DivOfLink").html("رمز عبور جدید برای شما پیامک شد.");
                            //  NotifyCustom(response.Messages, 'success');
                        }
                        else {
                            $("#DivOfLink").html(response.Messages);
                        }
                        waitingDialog.hide();
                    });
                    $("#btnregister").prop('disabled', false);

                }
            }
        });
    </script>
}

@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
