@{
    ViewBag.Title = "شهرها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




        <div class="row widget-body">

            <div class="table-toolbar col-md-12" style="margin-bottom:20px;">
                <div class="checkbox" style="float:right;padding-right:10px;">
                    <label>
                        <input type="checkbox" id="selectall" ng-model="all"><span class="text">همه</span>
                    </label>
                </div>
                <div style="float:left;">
                    <a class="btn btn-primary" href="javascript:void(0);" id="btnAddEdit " ng-click="ShowAddModal()">
                        <i class="fa fa-plus"></i>
                        ثبت شهر جدید
                    </a>
                    <a class="btn btn-success" href="javascript:void(0);" id="btnAddEdit " ng-click="ShowEditModal()">
                        <i class="fa fa-edit"></i>
                        ویرایش
                    </a>
                    <a class="btn btn-danger" href="javascript:void(0);" id="btnAddEdit " ng-click="showDeleteModal()">
                        <i class="fa fa-ban"></i>
                        حذف
                    </a>
                </div>
            </div>

            <div ng-controller="MainCtrl as list" class="col-md-6">
                <table datatable="" dt-options="list.dtOptions" dt-columns="list.dtColumns" dt-instance="list.dtInstance" class="table table-hover table-responsive ng-isolate-scope dataTable table-bordered table-striped"></table>
            </div>

        </div>

@Html.Partial("_AddEditCity")
@Html.Partial("_DeleteCity")
@section scripts{
    <script>
        $(".City-GetCity").addClass("active").parents("li").addClass("open");

        // app = angular.module("App", ['datatables']);
        app.controller('MainCtrl', function ($scope, $http, $compile, DTOptionsBuilder, DTColumnBuilder, DTInstances) {

            vm = this;
            vm.dtOptions = DTOptionsBuilder.newOptions()
           .withOption('ajax', {
               url: "@Url.Action(MVC.BaseInfo.BaseInfo.Actions.ListCitys())",
               type: 'POST',
               error: function (xhr, ajaxOptions, thrownError) {
                   NotifyCustom(xhr.responseText, 'danger');
               }
           })
         .withDataProp('data')
         .withOption('processing', true)
         .withOption('serverSide', true)
         .withOption('fnRowCallback', function (nRow, aData, iDisplayIndex, iDisplayIndexFull) { $compile(nRow)($scope) })
         .withPaginationType('full_numbers')
         .withOption('aaSorting', [2, 'desc'])
        // .withOption('dom', '<"pull-left"f>tipr')
         .withDisplayLength(10);
            vm.dtColumns = [
                DTColumnBuilder.newColumn([0]).withTitle('').withOption('name', ''),
                DTColumnBuilder.newColumn([2]).withTitle('استان  ').withOption('name', ''),
                DTColumnBuilder.newColumn([1]).withTitle('نام شهر').withOption('name', ''),
            ];
            DTInstances.getLast().then(function (dtInstance) {
                vm.dtInstance = dtInstance;
            });
            $scope.Realod = function (event, loadedDT) {
                vm.dtInstance.reloadData();
            }

            $scope.ShowAddModal = function () {
                $("#StateId").attr('disabled', false);
                //$scope.City = {};
                $('.case').attr('checked', false);
                $("#AddEditCity").modal("show");
                $scope.City = "";
            }

            $scope.showDeleteModal = function (id) {
                $("#DeleteModalCity").modal("show");
            }

            $scope.ShowEditModal = function (Id) {
                $("#StateId").attr('disabled', false);
                $http.post('@Url.Action(MVC.BaseInfo.BaseInfo.Actions.LoadEditCity())', { 'Id': $(".case:checked").val() }).success(function (response) {
                    $scope.City = response;

                });
                $("#AddEditCity").modal("show");
               var x= $(".case:checked").val();
                if (x != undefined) {
                    $("#StateId").attr('disabled', true);
                }

            }

            $scope.DeleteCity = function () {
                waitingDialog.show('در حال ثبت اطلاعات لطفا منتظر بمانید...');
                var chkBoxArray = [];
                $('.case:checked').each(function () {
                    chkBoxArray.push($(this).val());
                });

                $http.post('@Url.Action(MVC.BaseInfo.BaseInfo.Actions.DeleteCity())', { "CityId": chkBoxArray }).success(function (response) {

                    if (response.Result) {
                        $scope.Realod();
                        $("#DeleteModalCity").modal("hide");

                        NotifyCustom(response.Message, 'success');
                    } else {
                        $scope.Realod();
                        NotifyCustom(response.Message, 'danger');
                    }
                });
                waitingDialog.hide();
            }

            $scope.Cancel = function () {
                $scope.Administrator = {};
                $(".modal").modal("hide");
                $scope.StateId = "";
                $scope.City = "";
            }

            $scope.AddEditSite = function () {

                if ($(".case:checked").length > 0) {
                    waitingDialog.show('در حال ثبت اطلاعات لطفا منتظر بمانید...');
                    $http.post('@Url.Action(MVC.BaseInfo.BaseInfo.Actions.EditCity())', { 'param': $scope.City, 'id': $(".case:checked").val() }).success(function (response) {
                        if (response.Result) {
                            $scope.Realod();
                            $("#AddEditCity").modal("hide");

                            NotifyCustom("ویرایش با موفقیت انجام شد", 'success');
                        }
                        else {
                            NotifyCustom('ویرایش انجام نشد', 'danger');
                        }
                    }).error(function (response) {
                        alert(response);
                    });
                    waitingDialog.hide();
                    $scope.AddCityForm.$setPristine();
                }
                else {
                    waitingDialog.show('در حال ثبت اطلاعات لطفا منتظر بمانید...');
                    $http.post('@Url.Action(MVC.BaseInfo.BaseInfo.Actions.AddCity())', $scope.City).success(function (response) {
                        if (response.Result) {
                            $scope.City = {};
                            $scope.Realod();
                            $("#AddEditCity").modal("hide");
                            NotifyCustom('ثبت با موفقیت انجام شد', 'success');

                        } else {
                            NotifyCustom("ثبت اطلاعات با شکست مواجه شده است.لطفا دوباره بررسی نمایید", 'danger');
                        }
                    }).error(function (response) {
                        NotifyCustom(response, 'danger');
                    });

                    waitingDialog.hide();
                    $scope.AddCityForm.$setPristine();
                }
            }
        });



    </script>

}

